<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/static/site.css">
<link rel="stylesheet" href="/static/katex/katex.min.css">
<link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8"/>
<meta name="keywords" content="{% block keywords %}Brian Lee,Brian K Lee,Brian Kihoon Lee,Software,Machine Learning,Python,Math,Programming{% endblock %}">
<title>{% block title %}Brian Lee's Website{% endblock %}</title>

{% block scripts %}{% endblock %}
</head>

<body>

<div id="header">
{% block menu %}
<ul>
    <li><a href="/">Brian Kihoon Lee</a></li>
    <li><a href="/{{ESSAY_WEBDIR}}/">Essays</a></li>
</ul>
{% endblock %}
</div>

<div id="content">
{% block content %}

<div>
    <div>
	{% block maintext %}
	<p>Default maintext</p>
	{% endblock maintext %}
    </div>
</div>
{% endblock content %}
</div>


<div id="footer">
{% block footer %}
{% endblock footer %}
</div>
<script data-goatcounter="https://moderndescartes.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>
