<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/static/pure-min.css">
<link rel="stylesheet" href="/static/css/custom.css">
<link rel="stylesheet" href="/static/katex/katex.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8"/>
<meta name="keywords" content="{% block keywords %}Brian Lee,Brian K Lee,Brian Kihoon Lee,TensorFlow,AutoGraph,Python,Chemistry,Go,software{% endblock %}">
<title>{% block title %}Brian Lee's Website{% endblock %}</title>

{% block scripts %}{% endblock %}
</head>

<body>

<div id="header" class="pure-menu pure-menu-open pure-menu-horizontal">
{% block menu %}
<ul>
    <li><a href="/">Brian Kihoon Lee</a></li>
    <li><a href="/{{ESSAY_WEBDIR}}/">Essays</a></li>
</ul>
{% endblock %}
</div>

<div id="content">
{% block content %}

<div class="pure-g">
    <div class="pure-u-1">
	{% block maintext %}
	<p>Default maintext</p>
	{% endblock maintext %}
    </div>
</div>
{% endblock content %}
{% block rc_scout %}
<hr />
<div class="rc-scout"></div>
<script async defer src="https://www.recurse-scout.com/loader.js?t=61e6e8c2779e25f15f4f00c10223d575"></script>
{% endblock rc_scout %}
</div>
<script data-goatcounter="https://moderndescartes.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script></body>

</html>
