{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}Essays by Brian Lee{% endblock %}

{% block maintext %}

<h2> Essays</h2>

<p><a href="/{{ESSAY_WEBDIR}}/rss.xml">Atom (RSS) feed</a></p>

<hr />
<h3>...by tag</h3>
<p>{{macros.tag_link_list(ESSAY_WEBDIR, tags)}}</p>

<hr />
<h3>...by date</h3>
<ul>
{% for essay in essays_sorted %}
    <li>{{essay.date}}&nbsp;|&nbsp; <a href="/{{ESSAY_WEBDIR}}/{{essay.slug}}/">{{essay.title}}</a></li>
{% endfor %}
</ul>

{% endblock maintext %}
{# remove rc scout header from front page #}
{% block rc_scout %}{% endblock rc_scout %}
