{% extends 'base.html' %}

{% block title %}Essays by Brian Lee{% endblock %}

{% block maintext %}

<h2> Essays</h2>

<hr />
<h3>...by date</h3>
<ul>
{% for essay in essays_sorted %}
    <li>{{essay.date}}&nbsp;|&nbsp; <a href="/{{ESSAY_WEBDIR}}/{{essay.slug}}/">{{essay.title}}</a></li>
{% endfor %}
</ul>

<hr />
<h3>...by category</h3>
{% for category, essays in essays_by_category.items() %}
<h4>{{category}}</h4>
	<ul>
		{% for essay in essays %}
		<li>{{essay.date}}&nbsp;|&nbsp; <a href="/{{ESSAY_WEBDIR}}/{{essay.slug}}/">{{essay.title}}</a></li>
		{% endfor %}
	</ul>
{% endfor %}

<p><a href="/{{ESSAY_WEBDIR}}/rss.xml">Atom</a></p>

{% endblock maintext %}
{# remove rc scout header from front page #}
{% block rc_scout %}{% endblock rc_scout %}
