{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block scripts %}
<!-- Allow for LaTeX rendering -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML'></script>
<!-- Allow for code syntax highlighting -->
<link rel="stylesheet" href="/static/github.css">
<script src="/static/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block title %}{{essay.title}}{% endblock %}

{% block maintext %}
<h1>{{essay.title}} </h1>
<p> Originally posted {{essay.date}}</p>
<p> Tagged: {{macros.tag_link_list(ESSAY_WEBDIR, essay.tags)}}</p>
<p> <em>Obligatory disclaimer: all opinions are mine and not of my employer </em></p>
<hr />

{{essay.content|safe}}

{% endblock maintext %}