{% extends 'base.html' %}

{% block maintext %}

<p>Hi there!</p>
<p>I'm Brian Lee. My interests include: programming, math, physics, Go, piano, teaching, and chemistry.</p>
<p> Projects I've worked on</p>
<ul>
    <li><a href="https://github.com/tensorflow/MiniGo">MiniGo</a>, a replication of AlphaGoZero based on the published papers.</li>
<!--     <li><a href="https://github.com/usgo/online-ratings">Online Ratings</a>, a centralized API by which Go servers and tournament directors can submit game results. </li> -->
    <li><a href="http://www.college-go.org/">American Collegiate Go Association</a>, an association dedicated to spreading Go via college Go clubs. </li>
	<li><a href="https://college-go.org/CGL/">Collegiate Go League</a>, a competitive league for college Go clubs.</li>
	<li><a href="http://www.artofproblemsolving.com/school/woot-chem">ChemWOOT</a>, a practice program for the USNCO and IChO run in conjunction with Art of Problem Solving Inc.</li>
</ul>
<!--<p>I represented the U.S. at the International Chemistry Olympiad in 2007, and I served as peer mentor for the <a href="https://www.acs.org/content/acs/en/education/students/highschool/olympiad/studycamp.html">US National Chemistry Olympiad Study Camp</a> in 2010-2012.</p>-->
<p>I've also written various <a href="/{{ESSAY_WEBDIR}}">essays</a>.</p>
<p><a href="https://github.com/brilee/">github</a></p>
{% endblock maintext %}
