{% extends 'base.html' %}

{% block maintext %}

<p>Hi there!</p>
<p>I'm Brian Kihoon Lee (한글: 이기훈; 漢字: 李基薰).</p>
<p>I'm currently a research engineer / tech lead at <a href="https://research.google/teams/brain/">Google Brain</a>.</p>

<p>My projects: </p>
<ul>
    <li>(2019) I'm a TL for a team working on machine learning for chemistry <a href="https://arxiv.org/abs/1910.10685">[Paper]</a>.</li>
    <li>(2018) I worked on productionizing <a href="https://www.tensorflow.org/api_docs/python/tf/autograph">AutoGraph</a>, a Python compiler featured in <a href="https://www.tensorflow.org/guide/effective_tf2">TensorFlow 2</a>.</li>
    <li>(2017) I implemented all of the Python bits of <a href="https://github.com/tensorflow/MiniGo">MiniGo</a> (a replication of AlphaGoZero) based on work I'd done in MuGo.</li>
    <li>(2016) I implemented <a href="https://github.com/brilee/MuGo">MuGo</a>, a partial replication of AlphaGo, as a starter project in machine learning.</li>
	<li>(2012) I started and ran the <a href="https://college-go.org/CGL/">Collegiate Go League</a>, a competitive league for college Go clubs.</li>
	<li>(2012) I developed <a href="http://www.artofproblemsolving.com/school/woot-chem">ChemWOOT</a>, a course to prepare students for the <a href="https://www.acs.org/content/acs/en/education/students/highschool/olympiad.html">USNCO</a> and <a href="https://en.wikipedia.org/wiki/International_Chemistry_Olympiad">IChO</a>, and taught hundreds of students in conjunction with Art of Problem Solving Inc.</li>
    <li>(2010-12) I mentored students at the <a href="https://www.acs.org/content/acs/en/education/students/highschool/olympiad/studycamp.html">USNCO Study Camp</a> in 2010-2012</li>
    <li>(2007) I won a silver medal at the <a href="http://www.icho39.chem.msu.ru/html/english/ICHO-2007/Welcome.htm">2007 IChO in Moscow, Russia</a>.</li>
</ul>
<p><a href="/{{ESSAY_WEBDIR}}">Essays</a> I've written. My interests include: <a href="/{{ESSAY_WEBDIR}}/tags/computer_science">computer science</a>, <a href="/{{ESSAY_WEBDIR}}/tags/math">math</a>, <a href="/{{ESSAY_WEBDIR}}/tags/chemistry">chemistry</a>, <a href="/{{ESSAY_WEBDIR}}/tags/alphago">Go</a>, and <a href="/{{ESSAY_WEBDIR}}/tags/music">classical music</a>.
</p>
<p><a href="https://github.com/brilee/">github</a> | <a href="https://scholar.google.com/citations?user=tfgqycoAAAAJ&hl=en">google scholar</a> | <a href="mailto:brian.kihoon.lee@gmail.com">brian.kihoon.lee@gmail.com</a></p>
{% endblock maintext %}
{# remove rc scout header from front page #}
{% block rc_scout %}{% endblock rc_scout %}
