{% extends 'base.html' %}

{% block maintext %}

<p>Hi there!</p>
<p>I'm Brian Kihoon Lee (한글: 이기훈; 漢字: 李基薰).</p>

<p>I want to understand the world, in the broadest possible sense. I enjoy thinking about math, physical sciences, computer science, economics, dynamical systems, but also about classical music, aesthetics, and philosophy. <a href="/{{ESSAY_WEBDIR}}">I write.</a></p>

<p>I'm currently a senior research engineer at <a href="https://research.google/teams/brain/">Google Brain</a>.</p>

<p>Stuff I've worked on</p>
<ul>
    <li>(2019) I'm TL of a chemistry and machine learning research team investigating olfactory percption <a href="https://arxiv.org/abs/1910.10685">[1]</a><a href="https://www.biorxiv.org/content/10.1101/2022.09.01.504602v2">[2]</a><a href="https://www.biorxiv.org/content/10.1101/2022.07.21.500995v3">[3]</a><a href="https://www.biorxiv.org/content/10.1101/2022.09.01.504601v1">[4]</a><a href="https://ai.googleblog.com/2022/09/digitizing-smell-using-molecular-maps.html">[Press]</a>.</li>
    <li>(2018) I helped launch <a href="https://www.tensorflow.org/api_docs/python/tf/autograph">AutoGraph</a>, a Python to TensorFlow compiler featured in <a href="https://www.tensorflow.org/guide/effective_tf2">TensorFlow 2</a>. As a byproduct of my pre-alpha experience with AutoGraph / TensorFlow 2, I wrote <a href="https://www.tensorflow.org/guide/effective_tf2">Effective TF 2</a> and the official <a href="https://www.tensorflow.org/guide/function">tf.function guide</a>. </li>
    <li>(2017) I co-created (with Andrew Jackson) <a href="https://github.com/tensorflow/MiniGo">MiniGo</a> (a replication of AlphaGoZero) based on work I'd done in MuGo.</li>
    <li>(2016) I created <a href="https://github.com/brilee/MuGo">MuGo</a>, a partial replication of AlphaGo, as a starter project in machine learning.</li>
    <li>(2013) I [mastered/dropped out](https://www.moderndescartes.com/essays/dropping_out/) of Harvard's Chemistry & Chemical Biology department.</li>
	<li>(2012) I started the Collegiate Go League, a competitive league for college Go clubs.</li>
	<li>(2012) I created <a href="http://www.artofproblemsolving.com/school/woot-chem">ChemWOOT</a>, an online training program to prepare students for the <a href="https://www.acs.org/content/acs/en/education/students/highschool/olympiad.html">USNCO</a> and <a href="https://en.wikipedia.org/wiki/International_Chemistry_Olympiad">IChO</a>, in conjunction with Art of Problem Solving Inc.</li>
    <li>(2011) I graduated from MIT with a degree in Chemistry.</li>
    <li>(2010-12) I mentored students at the <a href="https://www.acs.org/content/acs/en/education/students/highschool/olympiad/studycamp.html">USNCO Study Camp</a> in 2010-2012</li>
    <li>(2007) I won a silver medal at the <a href="http://www.icho39.chem.msu.ru/html/english/ICHO-2007/Welcome.htm">2007 IChO in Moscow, Russia</a>.</li>
    <li>(2005-07) I was math team captain at Bergen County Academies and competed twice in the <a href="https://en.wikipedia.org/wiki/United_States_of_America_Mathematical_Olympiad">USAMO</a>.</li>
</ul>
<p><a href="https://github.com/brilee/">github</a> | <a href="https://scholar.google.com/citations?user=tfgqycoAAAAJ&hl=en">google scholar</a> | <a href="mailto:brian.kihoon.lee@gmail.com">brian.kihoon.lee@gmail.com</a></p>
{% endblock maintext %}
{# remove rc scout header from front page #}
{% block rc_scout %}{% endblock rc_scout %}
